* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerDiv,
.loginDiv, .updateDiv, .removeDiv {
  width: 300px;
  height: 400px;
}
.registerDiv .clsEmailLogin,
.registerDiv .clsEmailRegister,
.registerDiv .clsPasswordLogin,
.registerDiv .clsPasswordRegister,
.registerDiv .clsPasswordUpdate,
.registerDiv .clsEmailUpdate,
.registerDiv .clsEmailRemove,
.registerDiv .clsPasswordRemove,
.loginDiv .clsEmailLogin,
.loginDiv .clsEmailRegister,
.loginDiv .clsPasswordLogin,
.loginDiv .clsPasswordRegister,
.loginDiv .clsPasswordUpdate,
.loginDiv .clsEmailUpdate,
.loginDiv .clsEmailRemove,
.loginDiv .clsPasswordRemove, .updateDiv .clsEmailLogin,
.updateDiv .clsEmailRegister,
.updateDiv .clsPasswordLogin,
.updateDiv .clsPasswordRegister,
.updateDiv .clsPasswordUpdate,
.updateDiv .clsEmailUpdate,
.updateDiv .clsEmailRemove,
.updateDiv .clsPasswordRemove, .removeDiv .clsEmailLogin,
.removeDiv .clsEmailRegister,
.removeDiv .clsPasswordLogin,
.removeDiv .clsPasswordRegister,
.removeDiv .clsPasswordUpdate,
.removeDiv .clsEmailUpdate,
.removeDiv .clsEmailRemove,
.removeDiv .clsPasswordRemove {
  width: 300px;
  height: 20px;
}

h1 {
  text-align: center;
  color: rgb(55, 177, 218);
  border: 4px solid rgb(104, 185, 212);
  box-shadow: 5px 5px rgb(199, 224, 233);
}

a {
  margin-left: 5px;
}

.aWelcome {
  margin: 0;
}

.btnRegister,
.btnLogin {
  padding-right: 5px;
  padding-left: 5px;
}

h2 {
  padding: 20px 50px;
  text-align: center;
  color: lightslategray;
  border: 4px solid lightslategray;
  box-shadow: 5px 5px rgb(189, 205, 221);
}